.app.dark {
  --bg-color: #051059;
  --inverted-bg-color: #ececec;

  --primary-color: #c200b6;
  --secondary-color: #ff00eb;
  --inverted-primary-color: #646464;
  --inverted-secondary-color: #888888;
}