.app.normal {
  --bg-color: #ececec;
  --inverted-bg-color:  #051059;

  --primary-color: #646464;
  --secondary-color: #888888;
  --inverted-primary-color: #c200b6;
  --inverted-secondary-color: #ff00eb;
}